<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318442057939-8tclh769vufk3b38ue0endcflpaek2he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318442057939-8tclh769vufk3b38ue0endcflpaek2he</string>
	<key>API_KEY</key>
	<string>AIzaSyBifIfTFHdSG2n_BEPm-x8BX15BmgpdmPw</string>
	<key>GCM_SENDER_ID</key>
	<string>318442057939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.FastChatiOS15</string>
	<key>PROJECT_ID</key>
	<string>fastchatios15</string>
	<key>STORAGE_BUCKET</key>
	<string>fastchatios15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318442057939:ios:8d1fe91789dfa244b62426</string>
</dict>
</plist>